<main class="main-wrapper-start">
  <div class="collapsibles-wrapper" *ngFor="let subjectItem of subjects">

    <div class="collapsible" (click)="openTopic(subjectItem)">
      <span>
        <h1 class="title-note">{{subjectItem.acronym}}</h1>
        <p class="subtitle-note">{{subjectItem.name}}</p>
      </span>
    </div>

    <div class="content" *ngIf="subjectItem.open">

      <app-topic-list class="w-full" [topics]="subjectItem.topics"></app-topic-list>

      <button class="button" (click)="goToAddTopic(subjectItem.id)">
        <p>Add new topic</p>
      </button>
  </div>
</div>
</main>
