<main class="main-wrapper-start">
  <div class="collapsibles-wrapper" *ngFor="let subjectItem of subjects">

    <div [class]="(subjectItem.open) ? 'collapsible-open': 'collapsible'" (click)="openTopic(subjectItem)">
      <span>
        <h2 class="h2">{{subjectItem.acronym}}</h2>
        <p class="p">{{subjectItem.name}}</p>
      </span>
    </div>

    <div class="content" *ngIf="subjectItem.open">

      <app-topic-list class="w-full" [topics]="subjectItem.topics"></app-topic-list>

      <button class="button" (click)="goToAddTopic(subjectItem.id)">
        <p>Add new topic</p>
      </button>
  </div>
</div>
</main>
