header {
  background-color: $primary-color;
  height: fit-content;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  color: white;
  z-index: 2;
}

.header-left {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-logo {
  font-size: 32pt;
  padding: 0;
  margin: 0;
}

.menu {
  position: fixed;
  display: block;
  width: 100%;
  top: 3.71em;
  background-color: $primary-color;
  z-index: 2;
}

.menu-item {
  padding: 4% 0 4% 0;
  font-size: 22pt;
  text-align: center;
  border-bottom: 1px solid black;
  cursor: pointer;

  &:hover {
    background-color: $primary-color-hover;
  }
}

.menu-left {
  @extend .menu;
  @media only screen and (min-device-width: 760px) {
    width: 30%;
    left: 0;
  }
}

.menu-rigth {
  @extend .menu;
  @media only screen and (min-device-width: 760px) {
    width: 30%;
    right: 0;
  }
}

.menu-hidden {
  display: none;
}
