.button-basic {
  position: relative;
  width: 70%;
  height: 10%;

  margin: $margin_basic auto;

  padding: $margin_basic - 0.5rem $margin_basic;

  border-width: 0;
  outline: none;
  border-radius: $border-radius;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $size_subtitle - 0.5em;
  font-weight: bold;

  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

}

.button {
  @extend .button-basic;
  border-bottom: 1px solid rgba(131, 131, 131, 0.254);

  background-color: $primary-color;
  color: $text-color;
}

.button-mini {
  @extend .button;
  width: 30%;

  margin: $margin_basic - 0.5 auto;

  padding: $margin_basic - 0.7rem $margin_basic - 0.3rem;

}

.button:hover, .button:focus, .button-mini:hover, .button-mini:focus {
  background-color: $primary-color-hover;
}

.button-disable {
  @extend .button-basic;
  background-color: $disable-color;
  color: $text-color;

  cursor: not-allowed;
}

.button-float-bl {
  @extend .button-basic;
  position:fixed;
  width:60px;
  height:60px;
	background-color: $accent-color;
	border-radius: 50%;

  z-index: 1;

  bottom:40px;
  left:40px;

  &:hover {
    background-color: $accent-color-hover;
  }
}

.button-float-br {
  @extend .button-basic;
  position:fixed;
	background-color: $accent-color;
	border-radius: 50%;

  z-index: 1;

  right:40px;
  bottom:40px;

  width:60px;
  height:60px;
  &:hover {
    background-color: $accent-color-hover;
  }
}

.button-float-image {
  width: 50px;
  filter: invert(100%);
}

.button-subheader {
  width: fit-content;
  display: block;
  border-width: 0;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  padding: 0.5% 1.5%;

  background-color: #bbbce4;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14pt;
  font-weight: bold;

  transition: background-color .3s;
  cursor: pointer;
}

.button-subheader:hover, button-subheader:focus {
  background-color: #9092c0;
}
