.collapsibles-wrapper {
  width: 100%;
  height: fit-content;
  @media screen and (min-device-width: 700px) {
    width: 95%;
  }
}

.collapsible {
  background-color: $secondary-color;
  color: white;
  cursor: pointer;
  padding: 1%;
  height: fit-content;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-top: 2%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  transition: 0.3s;


  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.collapsible:hover {
  background-color: $primary-color;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  padding: $padding_basic + 0.5rem;
  background-color: $secondary-color;

}


