.collapsible {
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  padding: 2%;
  width: 85%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 2%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  transition: 0.3s;
}

.collapsible:hover {
  background-color: #636379;
}

.content {
  width: 85%;
  padding: 2%;
  background-color: #636379;
  transition: 0.4s;
}

