.collapsible {
  background-color: $secondary-color;
  color: white;
  cursor: pointer;
  padding: 1%;
  height: fit-content;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-top: 2%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  transition: 0.3s;


  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.collapsible:hover {
  background-color: $primary-color;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  padding: $padding_basic + 0.5rem;
  background-color: $secondary-color;

  .text-note {
    text-align: justify;
    padding: $padding_basic;
    border: 1px solid $text-secondary-color;
    border-radius: $border-radius;
    color: $text-secondary-color;
    height: fit-content + 10px;
    width: $width_rigth;
    min-height: 70px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .files {
    position: sticky;
    height: fit-content;
    width: $width_rigth;
    border: 1px solid $text-secondary-color;

    border-radius: $border-radius;



  }
  .file {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}


