<div class="card-wrapper">
  <h1 class="card-title">Sign Up</h1>
  <div class="card-content">
    <form [formGroup]="registerForm" class="form-one-column">
      <div class="form-div-two-cols">
        <div class="styled-input-small">
          <input id="name" name="name" type="text"
            alt="input for name" formControlName="name" required>
          <label for="name">Name</label>
          <span></span>
        </div>

        <div class="styled-input-small">
          <input id="surname" name="surname" type="text"
            alt="input for surname" formControlName="surname" required>
          <label for="surname">Surname</label>
          <span></span>
        </div>

        <div class="styled-input-small">
          <input id="age" name="age" type="number"
            alt="input for age" formControlName="age" required>
          <label for="age">Age</label>
          <span></span>
        </div>

        <div class="styled-input-small">
          <input id="email" name="email" type="text"
            alt="input for email" formControlName="email" required>
          <label for="email">Email</label>
          <span></span>
        </div>

        <div class="styled-input-small">
          <input id="username" name="username" type="text"
            alt="input for username" formControlName="username" required>
          <label for="username">Username</label>
          <span></span>
        </div>

        <div class="styled-input-small">
          <input id="password" name="password" type="password"
            alt="input for password" formControlName="password" required>
          <label for="password">Password</label>
          <span></span>
        </div>
      </div>

      <button [class]="registerForm.valid ? 'button':'button-disable' " [disabled]="!registerForm.valid" (click)="signUp()" >Sign Up</button>

    </form>
  </div>
</div>

