<button class="button-float-br" (click)="goToAddNote()">
  <img src="assets/icons/add.png" alt="button to add a course" class="button-float-image">
</button>
<button class="button-float-bl" (click)="loc.back()">
  <img src="assets/icons/back.png" alt="button to add a course" class="button-float-image">
</button>
<main class="main-wrapper-start">
  <h1 class="h1">{{topic.name}} </h1>
  <h3 class="p w-full">{{topic.description}} </h3>

  <div class="collapsibles-wrapper"  *ngFor="let note of notes">
    <div [class]="(note.open)? 'collapsible-open' : 'collapsible'" (click)="note.open = !note.open">
      <span>
        <h2 class="h2">{{note.name}}</h2>
        <p class="p">{{note.description}}</p>
      </span>
    </div>
    <div class="content" *ngIf="note.open">
      <app-document  class="w-full" [noteId]="note.id"></app-document>

      <button class="button" (click)="goToAddDocument(note.id)">
        <p>Add documents</p>
      </button>
    </div>
  </div>
</main>


