<div class="flex-column flex-center">
  <h1 class="title-topic">{{topic.name}} </h1>
  <h3 class="subtitle-note">{{topic.description}} </h3>
</div>
<button class="button-float" (click)="goToAddNote()">
  <img src="assets/icons/add.png" alt="button to add a course" class="button-float-image">
</button>

<main class="main-wrapper-start">
  <div *ngFor="let note of notes" style=" width:90%; height: fit-content;">
    <div class="collapsible" (click)="note.open = !note.open">
      <span>
        <h1 class="title-note">{{note.name}}</h1>
        <p class="subtitle-note">{{note.description}}</p>
      </span>
    </div>
    <div class="content flex-column" *ngIf="note.open">
      <app-document  class="w-full" [noteId]="note.id"></app-document>

      <button class="button" (click)="goToAddDocument(note.id)">
        <p>Add documents</p>
      </button>
    </div>
  </div>
</main>


