<main class="main-wrapper-start">
  <button class="button-float-br" (click)="goToAddCourse()">
    <img src="assets/icons/add.png" alt="button to add a course" class="button-float-image">
  </button>


  <div class="flex-3-to-1-col">
    <div *ngFor="let course of courses" class="card-wrapper-mini">
      <h2 class="card-subtitle">{{course.acronym}}</h2>
      <h3 class="card-subtitle-sm">
        {{course.name}}
      </h3>
      <div class="p min-heigth-50">
        <p>{{course.description}}</p>
      </div>
      <div class="card-actions">
        <button class="button" (click)="goToCourse(course.id)">See More</button>
      </div>
    </div>
  </div>
</main>
