
// Background Colors
$primary-color: #673ab7;
$primary-color-hover: #7d54c4;
$secondary-color:#8259C8;
$secondary-color-hover: #A384DD;

$accent-color: #ffd740;
$accent-color-hover: #f3cc3f;

$background-color: #eeeeee;
$background-color-element: #dadada;

$box-shadow: 0 3px 5px -1px rgba(0,0,0,.2);
$box-shadow-amplified: 2px 5px 8px 1px rgba(0,0,0,.2);
$box-shadow-hover: 0 3px 8px -1px rgba(0, 0, 0, 0.356);
$box-shadow-amplified-hover: 2px 5px 8px 1px rgba(0,0,0,.30);



$error-color: #f44336;

$text-color: #ffffff;
$text-secondary-color: #000000;

$disable-color: #727580;

$margin_basic: 1rem;
$padding_basic: 1rem;
$size_title: 3.5em;
$size_subtitle: 1.7em;
$width_left: 30%;
$width_rigth: 70%;
$height_header: 100px;
$border-radius: 5px;

$transition-03: 0.3s ease-in-out;
