
// Background Colors
$background-color: #cec6e1;

$primary-color: #454555;

$secondary-color: #3362da;

$error-color: #ce2d4b;

$disable-color: #9e9e9e;

$text-color: #FFF;

$text-gray: rgba(255, 255, 255, 0.5);

$icon-size-large: 36pt;


$header-height: 8vh;
$header-width: 100vw;

$content-page-height: 92vh;
$content-page-width: 100vw;
