/* You can add global styles to this file, and also import other style files */

@charset 'utf-8';

// Clear And Normalize
@import 'Base/clear';

// Utils Styles
@import 'Abstracts/variables';
@import 'Abstracts/functions';
@import 'Abstracts/mixins';
@import 'Abstracts/utils';

// Base Styles
@import 'Base/typography';
@import 'Base/icons';

// Components Styles
@import 'Components/forms';
@import 'Components/inputs';
@import 'Components/cards';
@import 'Components/buttons';
@import 'Components/expansion-panels';
@import 'Components/list';

// Layouts Styles
@import 'Layout/header';
@import 'Layout/flex-layouts';
@import 'Layout/main';


html, body  {
  width: 100%;
  height: 100%;
  background-color: $background-color;
}

.main-wrapper-start {
  @include main(flex-start);
}

.main-wrapper-center {
  @include main(center);
}
