/* You can add global styles to this file, and also import other style files */

@charset 'utf-8';

// Clear And Normalize
@import 'Base/clear';

// Utils Styles
@import 'Abstracts/variables';
@import 'Abstracts/functions';
@import 'Abstracts/utils';

// Base Styles
@import 'Base/typography';
@import 'Base/icons';

// Components Styles
@import 'Components/forms';
@import 'Components/inputs';
@import 'Components/cards';
@import 'Components/buttons';
@import 'Components/expansion-panels';
@import 'Components/list';

// Layouts Styles
@import 'Layout/header';
@import 'Layout/grids';


html {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}


app-register, app-login, app-courses {
  padding-top: $header-height;
  width: 100%;
  height: 100-$header-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-subject {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 2%;
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
}

app-course-container {
  height: 100-$header-height;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
  bottom: 0;
}

/*
app-topic {
  position: fixed;
  height: 100-($header-height*2);
  width: 15%;
  left: 0;
  bottom: 0;
  background-color: $primary-color;
}

app-note-list {
  position: fixed;
  height: 100-($header-height*2);
  width: 100-15%;
  right: 0;
  bottom: 0;
}
*/
