<button class="button-float">
  <img src="assets/icons/add.png" alt="button to add a course" class="button-float-image">
</button>
<div class="grid-three-cols">
  <div class="card-wrapper-one-item">
    <h1 class="card-subtitle">Titulo 1</h1>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Saepe maiores asperiores, rerum iste eius reprehenderit
      inventore quibusdam ipsum quae odio debitis,
      omnis ab, esse dolor. Veritatis debitis voluptatem
      excepturi ut?
    </div>
  </div>
  <div class="card-wrapper-one-item">
    <h1 class="card-subtitle">Titulo 1</h1>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Saepe maiores asperiores, rerum iste eius reprehenderit
      inventore quibusdam ipsum quae odio debitis,
      omnis ab, esse dolor. Veritatis debitis voluptatem
      excepturi ut?
    </div>
  </div>
  <div class="card-wrapper-one-item">
    <h1 class="card-subtitle">Titulo 1</h1>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Saepe maiores asperiores, rerum iste eius reprehenderit
      inventore quibusdam ipsum quae odio debitis,
      omnis ab, esse dolor. Veritatis debitis voluptatem
      excepturi ut?
    </div>
  </div>
  <div class="card-wrapper-one-item">
    <h1 class="card-subtitle">Titulo 1</h1>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Saepe maiores asperiores, rerum iste eius reprehenderit
      inventore quibusdam ipsum quae odio debitis,
      omnis ab, esse dolor. Veritatis debitis voluptatem
      excepturi ut?
    </div>
  </div>
  <div class="card-wrapper-one-item">
    <h1 class="card-subtitle">Titulo 1</h1>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Saepe maiores asperiores, rerum iste eius reprehenderit
      inventore quibusdam ipsum quae odio debitis,
      omnis ab, esse dolor. Veritatis debitis voluptatem
      excepturi ut?
    </div>
  </div>
  <div class="card-wrapper-one-item">
    <h1 class="card-subtitle">Titulo 1</h1>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Saepe maiores asperiores, rerum iste eius reprehenderit
      inventore quibusdam ipsum quae odio debitis,
      omnis ab, esse dolor. Veritatis debitis voluptatem
      excepturi ut?
    </div>
  </div>
  <div class="card-wrapper-one-item">
    <h1 class="card-subtitle">Titulo 1</h1>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Saepe maiores asperiores, rerum iste eius reprehenderit
      inventore quibusdam ipsum quae odio debitis,
      omnis ab, esse dolor. Veritatis debitis voluptatem
      excepturi ut?
    </div>
  </div>
</div>

