<button class="button-float">
  <img src="assets/icons/add.png" alt="button to add a course" class="button-float-image">
</button>
<div class="grid-three-cols">
  <div *ngFor="let course of courses" class="card-wrapper-one-item">
    <h1 class="card-subtitle">{{course.acronym}}</h1>
    <p class="card-subtitle-sm">
      {{course.name}}
    </p>
    <div>
      {{course.description}}
    </div>
    <div class="card-actions">
      <button class="button" (click)="goToCourse(course.id)">See More</button>
    </div>
  </div>
</div>

