<main>
  <div class="card-wrapper">
    <div class="card-header">
      <h1 class="title-note">Bienvenido a Documents DB.</h1>
      <br>
    </div>
    <div class="card-content">
      <p class="subtitle-note" style="text-align: center;"> ¡Tu pagina para organizar documentos!</p>
      <hr>
    </div>
    <br>
    <div class="card-actions flex-row">
      <button class="button-mini" routerLink="/sign-in">
        Login
      </button>
      <div class="spacer"></div>
      <button class="button-mini" routerLink="/sign-up">
        Register
      </button>
    </div>
  </div>
</main>
