<main class="main-wrapper-center">
  <div class="card-wrapper">
    <div class="card-header">
      <h1 class="title-note">Bienvenido a Documents DB.</h1>
      <br>
    </div>
    <div class="card-content">
      <p class="subtitle-note" style="text-align: center;"> ¡Tu pagina para organizar documentos!</p>
      <hr>
    </div>
    <br>
    <div class="card-actions flex-row">
      <button alt="Button. Go to Login page" class="button-mini" routerLink="/sign-in" tabindex="2">
        Login
      </button>
      <div class="spacer"></div>
      <button alt="Button. Go to Register page" class="button-mini" routerLink="/sign-up" tabindex="2">
        Register
      </button>
    </div>
  </div>
</main>
