<main class="main-wrapper-center">
  <div class="card-wrapper">
    <div class="card-header">
      <h2 class="card-title">Welcome to DocumentsDB</h2>
      <br>
    </div>
    <div class="card-content">
      <p class="p">Do you need to keep all those documents of your training throughout your life?</p>
      <br>
      <p class="p">With our service you can organize all that information in a compact and fast
        way, you can always find it easily!</p>
      <br>
      <p class="p">We also use high compression ratios so that your documents occupy as little as
         possible on our servers, and so you do not quickly reach the maximum quota of the application.</p>
      <br>
      <p class="p">What are you waiting for? <strong class="bold">Join NOW!</strong></p>
      <hr>
    </div>
    <div class="card-actions">
      <button *ngIf="!isLogged" alt="Button. Go to Login page" class="button-mini" routerLink="/sign-in" tabindex="2">
        Sign In
      </button>
      <div *ngIf="!isLogged" class="spacer"></div>
      <button *ngIf="!isLogged" alt="Button. Go to Register page" class="button-mini" routerLink="/sign-up" tabindex="2">
        Sign Up
      </button>
      <button *ngIf="isLogged" alt="Button. Go to my courses page" class="button-mini" routerLink="/course" tabindex="2">
        My Courses
      </button>
    </div>
  </div>
</main>
