<button class="button-float-bl" (click)="loc.back()">
  <img src="assets/icons/back.png" alt="button to add a course" class="button-float-image">
</button>
<main class="main-wrapper-center">
  <div class="card-wrapper">
    <h1 class="card-title">Add Documents</h1>
    <div class="card-content">
      <form [formGroup]="addDocForm" class="form-one-column">
          <div class="styled-input">
            <input type="file" id="files" multiple (change)="detectFiles($event)">
            <span></span>
          </div>

        <button href="#" [class]="addDocForm.valid ? 'button':'button-disable' " [disabled]="!addDocForm.valid" (click)="addDocuments()" >Add Documents</button>

      </form>
    </div>
  </div>
</main>
