@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

.h1 {
  text-align: center;
  width: 100%;
  font-size: 24pt;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bolder;
}

.title-basic {
  font-size: $size_title;
  text-align: center;
  color: $text-color;
}

.subtitle-basic {
  font-size: $size_subtitle;
  text-align: justify;
}

.title-topic {
  @extend .title-basic;
  margin: $margin_basic;
}

.title-note {
  @extend .title-basic;
  font-size: $size_title - 1.5em;
  margin-left: $margin_basic ;
}

.subtitle-note {
  @extend .subtitle-basic;
  font-size: $size_subtitle - 0.6em;
}

.text-basic {
  font-size: $size_title - 2.3em;
}
